@font-face {
    font-family: ailerons;
    src: url(/Fonts/Ailerons-Typeface.otf);
}



/*=============================  VARIABLES CSS  ============================*/

:root {
    /*==========   Main Colors  ==========*/
    --black-bg: hsl(60, 2%, 27%);
    --sub-black-bg: hsla(60, 1%, 35%, 0.644);
    --beige-bg: hsl(46, 69%, 94%);
    --title-color: hsl(46, 69%, 94%);
    --normal-text-color: hsl(49, 65%, 97%, 95%);
    --sub-text-color: hsla(46, 69%, 94%, 50%);
    --red-color: hsl(353, 71%, 59%);
    --sub-red-color: hsla(353, 71%, 59%, 0.582);
    --triangle-shape-dimond-color: hsl(193, 63%, 43%);
    --button-hover-color: hsla(46, 69%, 95%);
    --button-color: hsl(46, 69%, 90%);
    --orange-color: hsl(29, 95%, 61%);
    --elnabris-text-color: hsl(193, 63%, 43%);
    --bg-color: hsl(49 37% 94%);

    /*==========  Typography  ====*/
    --biggest-font-size: 3.7rem;
    --h1-font-size: 2.1rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smallest-font-size: .813rem;
    --menu-letter-spacing: 6px;
    --headings-letter-spacing: 10px;
    --lines-width: 0.09em;

    /*======   Animation Variables   =====*/
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
    --transition: all 0.4s ease;

    /*==========   Font Wieght   =========*/
    --font-light: 400;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;

    /*==========   Margins Bottom   =====*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*==========   Z Index   ============*/
    --z-fixed: 10;
    --z-modal:100;

    /*==========   Contact Machine   ============*/
    --cm-scaler:1;
}

/*=============================  RESPONSIVE TYPOGRAPHY  =================*/
@media screen and (max-width: 1250px) {
    :root {
        --cm-scaler:0.9;
    }
}
@media screen and (max-width: 64em) {
    :root {
        --cm-scaler:0.8;
        --menu-letter-spacing: 4px;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --cm-scaler:0.7;
    }
}
@media screen and (max-width: 480px) {
    :root {
        --cm-scaler:0.6;
    }
}

@media screen and (max-width: 375px) {
    :root {
        --cm-scaler:0.5;
    }
}

@media screen and (max-width: 320px) {
    :root {
        --cm-scaler: 0.45;
    }
}

@media screen and (max-width: 275px) {
    :root {
        --cm-scaler: 0.4;
    }
}


@font-face {
    font-family: Bosnia;
    src: url(fonts/Bosnia.otf);
}
@font-face {
font-family: ailerons;
src: url(/Fonts/Ailerons-Typeface.otf);
}

    /*=============================   BASE   ============================*/
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Fira Code', monospace;
    }

    html::-webkit-scrollbar {
        width: .1vw;
    }

    html::-webkit-scrollbar-thumb {
        background-color: var(--sub-text-color);
        border-radius:20vw ;

    }

    html::-webkit-scrollbar-thumb:hover {
        background-color: var(--beige-bg);
    }

    html::-webkit-scrollbar-track {
        background-color: var(--black-bg);
    }

    html::-webkit-scrollbar-track:hover {
        background-color: var(--sub-black-bg);
    }


    html, 
    body {
        height: 100%;
        scroll-behavior: smooth;
        margin: 0;

    }
    
    body {
        overscroll-behavior: none;
        font-family: 'Source Code Pro', monospace;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        
    }

    body {
        background-color: var(--black-bg);
        color: var(--title-color);
        -webkit-font-smoothing: antialiased;
    }


    body,
    button, 
    input {
        font-size: var(--normal-font-size);
    }

    main {
        margin: 0px auto;
        display: block;
        margin: 0px auto;
        width: 100%;
        max-width: 1600px;
        min-height: 100vh;
        padding: 0px 130px;
    }

    section {
        margin: 0px auto;
        padding: 100px 0px;
        max-width: 1000px;
    }

    h1, h2, h3 {
        font-weight: var(--font-bold);
        user-select: none;
    }

    ul {
        list-style: none;
        z-index: -1000;
    }

    a {
        text-decoration: none;
        transition: var(--transition);
    }

    img {
        max-width: 100%;
        height: auto;
    }

    button {
        cursor: pointer;
    }


    button, 
    input {
        border: none; 
        outline: none;
    }
    .backgrounds {
        position: relative;
        z-index: -1;
    }
    /*=============================   LAYOUT   ==========================*/
    
    .curved-corner {
        position: absolute;
        width: 31.71em;
    }

    #curved-corner {
        
        filter: drop-shadow(0 3px 10px rgb(0 0 0 / 0.2));
    }

    .mbl-curved-corner {
        visibility: hidden;
    }

    .logo__text {
        font-family: Bosnia;
    }


    #hero-shapes {
        filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 3px 10px);
        align-self: center;
        justify-self: center;
        max-width: clamp(50px, 40vw, 450px);
        transition-delay: 2.8s;
    }

    .contact-section-bg-container {
        position: absolute;
        overflow-y: hidden;
        width: 100vw;
        right: 0;
        height: 110rem;
        pointer-events: none;
    }

    #contact-section-bg {
        z-index: -1;
    }

    #contact-section-bg, 
    .curved-corner, 
    .nav__logo, 
    .hero-shapes {
        -webkit-user-drag: none;
    }

    .mbl-logo-v {
        display: none;
    }

    #home-backgrounds {
        z-index: -1;
        overflow: auto;
    }

    .grid {
        display: grid;
    }


    /*=============================  REUSABLE CSS CLASSES  ==============*/


    .section__title {
        text-align: center;
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-3);
        margin: 1em;
        
    }

    .section__title::before{
        content: attr(data-heading);
        display: block;
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        color: var(--orange-color);
    }

    .blend-mode {
        mix-blend-mode: exclusion;
    }

    .fade-in {
        opacity: 0;
        transition: opacity 250ms ease-in;
    }

    .fade-in.appear {
        opacity: 1;
    }

    .from-bottom{
        transform: translateY(20%);
        transition: opacity 350ms ease-in, transform 450ms ease-in;
        opacity: 0;
    }
    
    .from-bottom.appear{
        transform: translateY(0%);
        opacity: 1;
    }

    .from-right {
        transform: translateX(-50%);
        transition: opacity 350ms ease-in, transform 450ms ease-in;
    }

    .from-right.appear {
        transform: translateX(0%);
    }
    

    @keyframes glow {
        from {
          text-shadow: 0;
        }
        
        to {
          text-shadow: 0 0 5px #fa983d, 0 0 10px #fa983d, 0 0 15px #ed5f54, 0 0 21px #fa983d, 0 0 25px #fa983d, 0 0 28px #fa983d;
        }
      }


    /*=============================  SIDEBAR  ============================*/
    
    
    .sidebar {
        position: fixed;
        font-weight: var(--font-light);
        z-index: 999;
    }

    .nav__logo {
        width: 4rem;
        position: absolute;
        left: 3.5%;
        top: 25px;
        cursor: auto;
        font-size: 3rem;
        z-index: 999;
        transition-delay: .1s;
    }

   

    a.second-hlf-logo {
        width: 12rem;
        position: absolute;
        left: 64px;
        top: -0.1em;
        cursor: auto;
        font-size: 3rem;

    }

    a.second-hlf-logo > img {
        width: 3em;
        left: 20px;
        transition: transform cubic-bezier(0.65, 0.25, 0.45, 1.24) .9s;
        position: relative;
    }

    .logo__text {
        left: 26%;
        bottom: 0.6rem;
        position: relative;
    }

    .bilal-logo{
        color: var(--orange-color);
    }
    
    .elnabris-logo{
        color: var(--elnabris-text-color);
        
    }

    .nav__menu {
        display: grid;
    }
      
    .nav__list {
        position: fixed;
        z-index: var(--z-fixed);
        display: grid;
        margin: 20px 5em 0px auto;
        right: 0px;
    }

    li.nav__item:nth-child(1) {
        transition-delay: .2s;
    }

    li.nav__item:nth-child(2) {
        transition-delay: .4s;
    }
    li.nav__item:nth-child(3) {
        transition-delay: .6s;
    }


    .mbl-nav-toggle {
        position: fixed;
        z-index: 999;
        background-color: transparent;
        /* width: 2rem; */
        display: none;
        transition: opacity 250ms ease-in, transform .2s linear;
        right: 0;
        margin: 2rem 2rem 0 0;
        width: 2rem;
        aspect-ratio: 1;
    }

    .menu {
        display: flex;

    }

    .nav__link {
        line-height: 2.4em;
        display: flex;
        color: var(--sub-text-color);
        text-transform: uppercase;
        letter-spacing: var(--menu-letter-spacing);
        justify-content: flex-end;
        transition: color 0.4s ease 0s;
    }

    .nav__item::before {
        border: 1px solid var(--sub-text-color);
        background-color: transparent;
        content: "";
        display: inline-flex;
        height: 0.85em;
        position: absolute;
        right: 0px;
        left: 9em;
        border-radius: 50%;
        width: 0.85em;
    }

    li.nav__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav__item::after {
        content: "";
        transform: translate(9.465em, 1.2em);
        width: var(--lines-width);
        position: absolute;
        height: 1.4rem;
        background-color: var(--sub-text-color);
        border-radius: 0px;
        transition-delay: 4s;
    }

    .hidden-line::after {
        display: none;
    }

    

    
    /*==========   Social Media Links   =====*/

    .arranger {
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: 40px;
        right: auto;
    }

    .arranger-email {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            position: relative;
    }

    .arranger, 
    .arranger-email {
        z-index: var(--z-modal);
    }

    .parent,
    .arranger-email {
        transition-delay: 2.8s;
    }
    
    .s-m-links.parent {
        position: fixed;
        bottom: 0%;
    }

    li.s-m-items {
        /* padding: 30%; */
        padding: .3em 0;
        width: 100%;
        height: auto;
        font-size: 2rem;
    }

   
    .parent li a i {
        color: var(--sub-text-color);
        transition:var(--transition);
    }

    /*==========   SocialMedia hover effect  =====*/

    .parent li a i:hover {
        color: var(--beige-bg);
        transform: translate(0px, -3px) rotate(25deg) scale(1.2);
    }

    ul.s-m-links-ul {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px;
        list-style: none;
    }

    .s-m-links-ul::after {
        content: "";
        width: var(--lines-width);
        height: 10em;
        background-color: var(--sub-text-color);
        cursor: pointer;
        display: block;
        margin: 0px auto;
        transition: var(--transition);
    }

    .s-m-links-ul:hover::after {
        background-color: var(--elnabris-text-color);
        cursor:auto;
    }
    
    /*==========   Social Media & Email ShowUp Animation  =====*/

    li.s-m-items {
        position: relative;
        top: 15em;
        transform: translateY(-15em);
    }
    

    /*==========   Active Link & Hover   =====*/

    .nav__link:hover,
    .active-link {
    color: var(--beige-bg);
    font-weight: 500;
    }

    .nav__item::before:hover {
        border: 1px solid var(--beige-bg);
    }

    .nav__item:has(a.active-link).nav__item::before {
        background-color: var(--beige-bg);
    }

    .nav__link i:hover,
    .active-link i {
        font-weight: 900;
    }

    .nav__link a:hover {
        transform: translateX(10px);

    }

    

    

    /*==========   My Email  ========== => the fixed email on the side */

    

   .arranger-email{
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: auto;
        right: 40px;
        z-index: 10;
        color: var(--beige-bg);
   }

    #fixed-email {
        margin: 20px auto;
        padding: 10px;
        font-size: var(--small-font-size);
        letter-spacing: 0.1em;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        color: var(--sub-text-color);
        display: inherit;
    }

   

    .arranger-email::after {
            content: "";
            display: block;
            width: 1px;
            background-color: var(--sub-text-color);
            height: 90px;
            margin: 0px auto;
            transition: var(--transition);
    }


    #fixed-email:hover {
        color: var(--beige-bg);
    }

    .arranger-email:hover::after {
        background-color: var(--orange-color);
        cursor: auto ;
    }
    

    /*=============================  ABOUT  ============================*/

    section#about {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: 0 auto;
        max-width: 2000px;
        min-height: 850px;
    }

    .about__container {
        grid-template-columns: 1fr clamp(20px, 34vw, 600px);
        display: flex;
        max-width: 1280px;
        place-items: end start;
        gap: min(30px);
        justify-content: space-between;
    }

    .hero {
        align-self: flex-start;

    }
   
    /* Main Greeting */

    .h1-hero {
        font-family: 'anton', sans-serif;
        font-weight: normal;
        color: var(--beige-bg);
        letter-spacing: .3rem;
        font-size: var(--biggest-font-size);
        text-shadow: 3px 3px 3px rgb(54, 54, 54);
        display: flex;
        align-items: baseline;
        transition-delay: 1s;
    }

    .h1-hero span{
        position: relative;        
        letter-spacing: -0.01em;
        transition: color .1s, transform .2s, text-shadow .2s ease ;
        display: inline-block;
    }

    .smallest-devices-br {
        display: none;
    }

    .capitalized-letters {
        font-size: 1.2em;
    }

    .I {
        margin: 0 .2em;
    }

    .h1-hero span:hover {
        color: var(--elnabris-text-color);
        text-shadow: 0.02em 0.02em hsl(60deg 2% 22%), 0.04em 0.04em hsl(60deg 2% 20%), 0.06em 0.06em hsl(60deg 2% 18%), 0.08em 0.08em hsl(60deg 2% 16%);
        /* bottom: 0.05em;
        right: 0.05em; */
        transform: translate(-0.02em,-0.02em);
    }

    .h1-hero .after-bilal:hover {
        color: var(--orange-color);
    }


    .h1-hero img {
        width: 0.5em;
        top: 0.158em;
        margin: 0 0 0 .2em;
        position: relative;
    }

    .hover-disabled {
        pointer-events: none;
        margin-left: .4em;
        filter: drop-shadow(3px 3px 3px rgb(54 54 54));
        width: .8em;
    }

    .animated-text {
        font-size: clamp(20px, 5vw, 34px);
        margin: 0px 0px 3rem 0.43em;
        transition-delay: 1.4s;
    }

    .h1-hero, .animated-text {
        filter: drop-shadow(0 0px 5px rgb(0 0 0 / 0.15));
    }

    .animated-text span {
        color: var(--beige-bg);
        /* margin-top: 2em; */
        line-height: 2;
        font-size: clamp(20px, 3vw, 35px);
        font-weight: 400;
    }
/* ----------------------------------------------------------------- */

.hero-p {
    font-weight: 100;
    margin: 1.5rem 0;
    width: clamp(370px, 40.5vw, 500px);
    border-radius: 5px;
    border: solid 0.1em var(--beige-bg);
    transition-delay: 1.8s;
}

    .hero-p p {
        padding: 1em;
        font-family: 'Raleway', sans-serif;
        position: relative;
        right: 0.5em;
        bottom: 0.5em;
        font-size: clamp(10px, 1.2em, 80px);
        border-radius: 5px;
        letter-spacing: .1em;
        background-color: var(--elnabris-text-color);
        color: var(--beige-bg);
        font-weight: 300;
    }

    .hero-p p span {
        letter-spacing: 0.17rem;
        font-family: 'Raleway', sans-serif;

    }

    br {
        height:2rem;
    }
    

    /* CV Button */

    .button-parent {
        transition-delay: 2.4s;
    }

    .cv {
        bottom: 12%;
        left: 12%;
        border-radius: 5px;
        width: auto;
        filter: drop-shadow(0 3px 10px rgb(0 0 0 / 0.2));
        color: var(--beige-bg);
        background-color: transparent;
        z-index: 999;
        transition: ease 0.3s;
        border: solid 0.1em var(--beige-bg);
    }

    .cv:hover {
        border: solid 0.1em var(--elnabris-text-color);

    }
    

    .cv div {
        position: relative;
        right: .5em;
        border-radius: 5px;
        font-weight: 400;
        bottom: 0.5em;
        background-color: var(--elnabris-text-color);
        padding: 1.3rem;
        transition: transform ease 0.6s;
        box-shadow: 0.1em 0.1em #1c2c30, 0.2em 0.2em #182327, 0.3em 0.3em #131a1d, 0.4em 0.4em #0c1013, 0.5em 0.5em #010203;
        /* box-shadow: 0.1em 0.1em hsl(353deg 50% 46%), 0.2em 0.2em rgb(167, 55, 68), 0.3em 0.3em rgb(163, 54, 66), 0.4em 0.4em rgb(151, 51, 63),0.5em 0.5em rgb(145, 46, 57); */
        width: clamp(168px, 3vw, 250px);
    }

    /* .cv:hover  {        
         background-color: var(--beige-bg); 
         box-shadow: 0.1em 0.1em rgb(211, 206, 193), 0.2em 0.2em rgb(197, 192, 178), 0.3em 0.3em rgb(192, 189, 176), 0.4em 0.4em rgb(177, 172, 160), 0.5em 0.5em rgb(153, 149, 138);    
    } */

    .cv div:active {
        bottom: 0.2em;
        right: 0.2em;
        box-shadow: 3px 3px 3px rgb(54, 54, 54)
    }



   /*=============================  PROJECTS  =========================*/
   #projects {
    /* display: grid; */
    margin: 0 auto;
    padding: 3em 0;
    align-items: center;
    min-height: 85vw;
}

    .section__title {
        position: relative; 
        color: var(--beige-bg);
        font-size: var(--h1-font-size);
        text-align: center;
       transition-delay: .5s;
    }

    .work__container {
        grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
        gap: 1.8rem;
        justify-content: center;
        padding-top: 1rem;
        /* margin: 0 0.5em; */
        /* width: 100vw; */
        overflow: hidden;
    }

    .work__filters-container {
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        column-gap: .75rem;
        align-items: center;
        transition-delay: .8s;
    }

    .work__filters-items-wrapper {
        display: inline-block;
        border: solid .05rem var(--beige-bg);
        border-radius: .3rem;
        margin: 0.5em .5em;
        padding: .25rem 0;
        transition: var(--transition);
    }

    

    .work__filters {
        width: fit-content;
        display: flex;
        justify-items: center;
        flex-direction: row;
        align-items: center;
    }

    .work__item {
        cursor: pointer;
        padding: 0.25rem 0.75rem;
        font-weight: var(--font-medium);
        position: relative;
        right: 0.33em;
        border-radius: 5px;
        bottom: 0.33em;
        background-color: var(--orange-color);
        transition: all ease .001s;
        box-shadow: rgb(223, 135, 52) 0.1em 0.1em, rgb(217, 130, 48) 0.2em 0.2em, rgb(201, 125, 54) 0.3em 0.3em;
    }

    .work__card {
        background-color:var(--sub-black-bg);
        padding: 1.25rem;
        border-radius: .5rem;
        transition: box-shadow 0.2s ease-in, scale 0.2s ease-in, opacity 350ms ease-in, transform 450ms ease-in;
    }

    .work__card:hover {
        box-shadow: 0 0 20px rgb(0 0 0 / 0.2);
        scale: 1.05;
    }

    .portfolio__item-details {
        display: none;
    }

    .work__img {
        border-radius: .5rem;
        margin-bottom: var(--mb-1);
    }

    .work__title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-bold);
        margin-bottom: var(--mb-0-5);
        text-transform: capitalize;
    }

    .work__button {
        color: var(--orange-color);
        font-size: var(--normal-font-size);
        display: flex;
        font-weight: var(--font-bold);
        align-items: center;
        column-gap: .25rem;
        cursor: pointer;
    }

    .work__button-icon {
        font-size: 1rem;
        transition: .3s;
    }

    .work__button:hover .work__button-icon {
        transform: translateX(.25rem);
    }

    /* .work__card img {
        width: 24rem;
    } */

    /*==========   Active Item Work   =========*/
    .active-work {
        background-color: var(--orange-color);
        bottom: 0.2em;
        right: 0.2em;
        box-shadow: 1px 1px 1px rgb(54 54 54);

    }


    .work__item:active {
        bottom: 0.2em;
        right: 0.2em;
        box-shadow: 3px 3px 3px rgb(54, 54, 54)
    }

    /*==========   Portfolio Popup   =========*/
    .portfolio__popup {
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        background-color: rgba(0,0,0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }

    .portfolio__popup.open {
        opacity: 1;
        visibility: visible;
    }

    .portfolio__popup-inner {
        background-color:var(--black-bg);
        width: 900px;
        border-radius: .5rem;
        padding: 2.5rem;
        position: relative;
    }

    .portfolio__popup-content {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;

    }

    .portfolio__popup-close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--orange-color);
    }

    .portfolio__popup-img {
        border-radius: .5rem;
    }

    .portfolio__popup-subtitle {
        font-size: var(--smallest-font-size);
        margin-bottom:var(--mb-0-25);
        text-transform: capitalize;
    }

    .details__title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-1);
        text-transform: capitalize;
    }

    .details__description {
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-2);
    }

    .details__info li {
        margin-bottom:var(--mb-0-75);
        text-transform: capitalize;
        font-size: var(--small-font-size);
    }

    .details__info li:last-child {
        margin-bottom: 0;
    }

    .details__info li span {
        font-weight: normal;
    }

    .details__info li a {
        text-transform: lowercase;
        color: var(--orange-color);

    }
    /*=============================  CONTACT  =========================*/
    #contact {
        height: 150vh;
        display: flex;
        margin: 0 auto;
        justify-content: flex-end;
        flex-direction: column;
        overflow: hidden;
        padding: 0;
        align-items: center;
    }

    /*==========   Switch Background Mode Button   =========*/
    .switch__key-container {
        justify-self: flex-end;
        align-self: start;
        z-index: 999;
        filter: drop-shadow(0 3px 10px rgb(0 0 0 / 0.2));
        transition: var(--transition);
        margin: 150px 0 0 0;
    }


    .switch__key-div {
        position: relative;
        cursor: pointer;
        display: block;
        border-radius: 50%;
        background-color: var(--black-bg);
        padding: 1.4rem;
        transition: var(--transition);
        box-shadow: 0.1em 0.1em hsl(60deg 2% 22%), 0.2em 0.2em hsl(60deg 2% 20%), 0.3em 0.3em hsl(60deg 2% 18%), 0.4em 0.4em hsl(60deg 2% 16%), 0.5em 0.5em hsl(60deg 2% 14%), 0.59em 0.59em hsl(0deg 0% 12%);
    }


    .switch__key-div:active {
        transform: translate(10px, 10px);
        box-shadow: 3px 3px 0px hsl(0deg 0% 8%);
    }

    
    i.fa-regular.fa-fill.fa-fade {
        font-weight: bold;
        font-size: 1.5rem;
    }

    /* box-shadow: 0.1em 0.1em hsl(353deg 50% 46%), 0.2em 0.2em rgb(167, 55, 68), 0.3em 0.3em rgb(163, 54, 66), 0.4em 0.4em rgb(151, 51, 63),0.5em 0.5em rgb(145, 46, 57),0.6em 0.6em rgb(145, 46, 57),0.7em 0.7em rgb(145, 46, 57), 0.8em 0.8em rgb(145, 46, 57),0.9em 0.9em rgb(145, 46, 57),1em 1em rgb(145, 46, 57), 1.1em 1.1em hsl(353deg 50% 46%), 1.2em 1.2em rgb(167, 55, 68), 1.3em 1.3em rgb(163, 54, 66), 1.4em 1.4em rgb(151, 51, 63),1.5em 1.5em rgb(145, 46, 57),1.6em 1.6em rgb(145, 46, 57),1.7em 1.7em rgb(145, 46, 57), 1.8em 1.8em rgb(145, 46, 57),1.9em 1.9em rgb(145, 46, 57),2em 2em rgb(145, 46, 57), 2.1em 2.1em hsl(353deg 50% 46%), 2.2em 2.2em rgb(167, 55, 68), 2.3em 2.3em rgb(163, 54, 66), 2.4em 2.4em rgb(151, 51, 63),2.5em 2.5em rgb(145, 46, 57),2.6em 2.6em rgb(145, 46, 57),2.7em 2.7em rgb(145, 46, 57), 2.8em 2.8em rgb(145, 46, 57),2.9em 2.9em rgb(145, 46, 57),3em 3em rgb(145, 46, 57),  */


    /*==========   Contact Section's Background Adjustments   =========*/

    .dark__mode {
        box-shadow: 0.1em 0.1em rgb(211, 206, 193), 0.2em 0.2em rgb(197, 192, 178), 0.3em 0.3em rgb(192, 189, 176), 0.4em 0.4em rgb(177, 172, 160), 0.5em 0.5em rgb(153, 149, 138), 0.59em 0.59em rgb(97, 97, 96);
        background-color: var(--beige-bg);
        color: var(--black-bg);
    }

    .background__drop {
        transform: translateY(100em);
        position: inherit;
    }

    .paint__drop {
        transition: .3s;
    }

    img.contact-section-bg {
    position: absolute;
    right: 0px;
    height: 110rem;
    z-index: 10;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
}

       /*==========   Contact Form   ==================*/
       .scaler {
        transform: scale(var(--cm-scaler));
        z-index: 999;
    }

       .ct__form-container form {
        display: grid;
        padding: 2em;
        justify-items: center;
        
    }

    .ct__form-container::before {
        content: '';
        position: absolute;
        background-color: rgb(250 245 229 / 12%);
        width: 344px;
        height: 32.77em;
        bottom: 11em;
        stroke-opacity: 1;
        background-clip: padding-box;
        z-index: var(--z-modal);
        pointer-events: none;
    }

    .ct__form-container::after {
        content: "";
        background-color: var(--elnabris-text-color);
        width: 21.5em;
        height: 1em;
        position: absolute;
        bottom: 10em;
        box-shadow: 0em 0.1em
                hsl(194deg 62% 41%), 0em 0.2em hsl(195deg 61% 40%), 0em 0.3em hsl(194deg 60% 38%), 0em 0.4em hsl(195deg 60% 36%);
        justify-content: center;
    }

    .contact-machine-title {
        border: solid .5em var(--elnabris-text-color);
        color: var(--beige-bg);
        font-family: 'Gemunu Libre', sans-serif;
        background-color: var(--black-bg);
        padding: .5em .5em .5em .5em;
        text-align: center;
        font-size: var(--h1-font-size);
        box-shadow: 0.05em 0.05em #24829c, 0.1em 0.1em #227991, 0.15em 0.15em #207086, 0.2em 0.2em #1d677c, 0.25em 0.25em #1b5f71, 0.3em 0.3em #195667, 0.35em 0.35em #174d5d, 0.4em 0.4em #144553, 0.45em 0.45em #123d49;
        z-index: -1;
        position: relative;
        transform: rotateY(5deg);
        border-radius: 5px 5px 0 0;
        border-color: var(--elnabris-text-color);
    }

    .contact-machine-title div {
        font-weight: 900;
       font-size: 1.5em;
       font-family: 'Gemunu Libre', sans-serif;

    }

    .contact-machine-title::before {
        content: attr(data-heading);
        display: block;
        text-shadow: 0px 0px 4px var(--orange-color);
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        color: var(--orange-color);
        margin-bottom: .5em;
        animation: glow 2s ease-in-out infinite alternate;
    }
    .ct__form-container {
        background-color: var(--elnabris-text-color);
        box-shadow: .1em .2em 5px hsl(194.52, 61.39%, 39.61%) inset, .2em .4em 5px hsl(194.48, 60.42%, 37.65%)inset ,.3em .6em 5px hsl(195.27, 60.44%, 35.69%) inset,
                0.1em 0.1em #285969,
                0.2em 0.2em #275867,
                0.3em 0.3em #265666,
                0.4em 0.4em #265564,
                0.5em 0.5em #255362,
                0.6em 0.6em #245261,
                0.7em 0.7em #23515f,
                0.8em 0.8em #224f5d,
                0.9em 0.9em #224e5c,
                1em 1em #214c5a,
                1.1em 1.1em #204b58,
                1.2em 1.2em #1f4a57,
                1.3em 1.3em #1e4855,
                1.4em 1.4em #1e4754,
                1.5em 1.5em #1d4652,
                1.6em 1.6em #1c4450,
                1.7em 1.7em #1b434f,
                1.8em 1.8em #1b424d,
                1.9em 1.9em #1a404c, 
                2em 2em #193f4a,
                2.1em 2.1em #183d48, 
                2.2em 2.2em #183c47,
                2.3em 2.3em #173b45, 
                2.4em 2.4em #163944, 
                2.5em 2.5em #153842, 
                2.6em 2.6em #153741, 
                2.7em 2.7em #14363f, 
                2.8em 2.8em #13343e, 
                2.9em 2.9em #13333c, 
                3em 3em #12323b, 
                3.1em 3.1em #113039, 
                3.2em 3.2em #102f38, 
                3.3em 3.3em #102e36, 
                3.4em 3.4em #0f2d35, 
                3.5em 3.5em #0e2b33,  
                3.6em 3.6em #0e2a32, 
                3.7em 3.7em #0d2930, 
                3.8em 3.8em #0c272f, 
                3.9em 3.9em #0c262d, 
                4em 4em #0b252c;
        border-radius: 5px;
        border: solid 2em hsl(192.89, 62.87%, 46.47%);
        direction: ltr;
        z-index: 20;
        display: flex;
    }

    .ct__form-container input, .ct__form-container textarea {
        padding: 1em;
        margin: 1em;
        width: 15em;
        color: var(--beige-bg);
        resize: none;
        margin-bottom: 2em;
        border-radius: 1px;
        box-shadow: .1em .2em 5px hsl(194.52, 61.39%, 39.61%) inset, .2em .4em 5px hsl(194.48, 60.42%, 37.65%)inset ,.3em .45em 5px hsl(195.27, 60.44%, 35.69%) inset, 0.1em 0.1em hsl(193.74, 62.09%, 41.37%), 0.2em 0.2em hsl(194.52, 61.39%, 39.61%), 0.3em 0.3em hsl(194.48, 60.42%, 37.65%), 0.4em 0.4em hsl(195.27, 60.44%, 35.69%);
        background-color: hsl(193deg 49% 43%);
        border: solid .5em hsl(192.89, 62.87%, 46.47%);
    }

    ::placeholder{
        color: var(--beige-bg);
        transform: skew(-5deg, 0deg);
    }

    

    textarea#message {
        width: 19em;
        margin-bottom: 6.5em;
    }

    textarea#message::placeholder {
        font-size: 1.2em;
    }

    /* Send Button */
    .ct__form-container form button {
        width: 6px;
        padding: 0 3em;
        display: flex;
        /* height: 5em; */
        border-radius: 5px;
        background-color: var(--black-bg);
        color: var(--beige-bg);
        position: relative;
        justify-content: center;
        align-items: center;
        box-shadow: 0.1em 0.1em hsl(60deg 2% 22%), 0.2em 0.2em hsl(60deg 2% 20%), 0.3em 0.3em hsl(60deg 2% 18%), 0.4em 0.4em hsl(60deg 2% 16%), 0.5em 0.5em hsl(60deg 2% 14%), 0.59em 0.59em hsl(0deg 0% 12%);
        transition: var(--transition);
    }

    .ct__form-container form button:active {
        transform: translate(8px, 8px);
        box-shadow: 3px 3px 0px hsl(0deg 0% 8%);
    }

    .machine-hole {
        content: "";
        padding: 1.4rem;
        display: inline-block;
        height: 1em;
        margin-right: 4em;
        width: 5em;
        background-color: var(--black-bg);
        color: var(--beige-bg);
        position: relative;
        border-radius: 5px 5px 50px 50px;
        /* margin-top: 4em; */
        /* margin-bottom: 1em; */
        box-shadow: 0.05em 0.05em hsl(60deg 2% 25%) inset, 0.1em 0.1em hsl(60deg 3% 23%) inset, 0.15em 0.15em hsl(60deg 3% 20%) inset, 0.2em 0.2em hsl(60deg 3% 18%) inset, 0.25em 0.25em hsl(60deg 4% 16%) inset, 0.3em 0.3em hsl(60deg 3% 14%) inset, 0.35em 0.35em hsl(60deg 3% 12%) inset, 0.4em 0.4em hsl(60deg 4% 10%) inset, 0.45em 0.45em hsl(60deg 7% 8%) inset, 0.5em 0.5em hsl(60deg 13% 6%) inset, 0.55em 0.55em hsl(60deg 29% 3%) inset, 0.6em 0.6em hsl(0deg 0% 0%)inset;
    }

    .lower-half-vm {
        display: flex;
        flex-direction: row-reverse;
    }

    .contact-container {
        transform: translateY(0);
        /* filter: drop-shadow(91px 3px 44.5px black); */
        column-gap: 30px;
    }

    .vending-mchn-container {
        overflow: hidden;
        padding-right: 75px;
        filter: drop-shadow(0 0px 5px var(--black-bg));
        transition: var(--transition);
    }
    .contact-container, .vending-mchn-container {
        display: grid;
        justify-items: center;
        width: fit-content;
        z-index: 999;
        grid-column: none;
        direction: ltr;
        /* overflow-y: hidden; */

    }

    .uil-sun::before,
    .uil-moon::before {
        font-size: 25px;
    }

    .mbl-contact-container {
        display: none;
    }


    /*==========   Breakpoints   ==================*/

    /* /* @media screen and (max-width: 1408px) {
        body {
          /* font-size: 16px;
        }
        .container {
          max-width: fit-content;
        }
      } */

     /* @media screen and (max-width: 1301px) {
        .work__container {
            margin: 0 6em;
        }
       }  */
      /* @media screen and (max-width: 1024px) {
       
      } */

      @media screen and (max-width: 1250px) {
        main{
            padding: 0 85px;
        }

        .arranger {
            left: 20px;
        }

        .arranger-email {
            right: 20px;
        }
      }
      @media screen and (max-width: 1160px) {

        section#about {
            padding-top: 190px;
            justify-content: flex-start;
        }

        li.s-m-items {
            padding: 0 0 .5em 0;
            font-size: 1.8rem;
        }

        .about__container {
            gap: 0;
        }
       
        .h1-hero {
            display: block;
            line-height: 2rem;
            width: 400px;
        }

        .h1-hero span {
            letter-spacing: -0.36em;
        }

        .cv div {
            font-size: clamp(5px, 17px, 25px);
        }
        .I {
            margin: 0 .2em 0 0;
        }

        .hover-disabled {
            display: inline-block;
            width: .45em;
        }


        .animated-text {
            margin: 1.5rem 0px 3rem 0.43em;
        }


        .curved-corner {
            width: 26em;

        }
       
        .nav__logo {
            width: 1em;
        }

        a.second-hlf-logo {
            left: 1em;
            top: -0.16em;
        }

        a.second-hlf-logo img {
            width: 2.4em;
        }

        .contact-container {
            transform: translateY(50px);
            /* filter: drop-shadow(91px 3px 44.5px black); */
            column-gap: 30px;
        }
      }


      /* @media screen and (max-width: 1121px) {
        main {
        padding: 0px 100px;
        }

        

    } */

    @media screen and (max-width: 64em) {
          
          
        /* .work__container {
        } */

        main {
            padding: 0px 75px;
        }

        section#about {
            padding-top: 210px;
            justify-content: flex-start;
        }

        .nav__link{
            margin-left: 1.5em;
        }

        .nav__list {
            margin: 20px 3.5em 0px auto;
        }
        

        .nav__item::after {
            content: "";
            transform: translate(9.44em, 1.2em);
        }

        .work__container {
            grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
        }

        .contact-container {
            column-gap: 75px;
        }

        .contact-container {
            transform: translateY(110px);
        }

    }
       
    

      @media screen and (max-width: 863px) {
        main {
            padding: 0px 80px;
        }

        section#about {
            min-height: 1000px;
            padding-top: 150px;
        }

        .about__container {
            flex-direction: column;
            align-self: center;
            gap: min(10vw, 60px);
        }

        .h1-hero {
            display: flex;
            align-items: baseline;
            width: unset;
        }

        .h1-hero span {
            letter-spacing: 0;
        }

        .hover-disabled {
            width: 0.8em;
        }

        #hero-shapes {
            align-self: center;
            max-width: clamp(230px, 60vw, 450px);
        }

        .hero-p {
            display: flex;
            flex-wrap: wrap;
        }

        .work__container {
            grid-template-columns: repeat(auto-fill, minmax(11.5em, 1fr));
            gap: 1rem;
        }

        .nav__list {
            background: hsl(60 2% 27%/ .8);
            right: 0;
            margin: 0;
            border-radius: 8px;
            padding: 5rem 3.5rem 2rem 0;
            backdrop-filter: blur(1rem);
            transform: translateX(100%);
            transition: transform 0.3s ease-in;
            mix-blend-mode:normal;
        }

        .mbl-nav-toggle {
            background-image: url(/img/SVG/navigation-icon.svg);
            background-repeat: no-repeat;
           
        }
       .nav__list[data-visibile="true"] {
            transform: translateX(0%);
 
       }

       .mbl-nav-toggle.close {
        transform: rotateX(180deg);
        background-image: url(/img/SVG/close-icon.svg);
        width: 1.5rem;
    }

        .mbl-nav-toggle {
            display: block;
        }

        .mbl-nav-ul {
            display: grid;
            gap: 2px;
        }

        .mbl-nav-line {
            width: 14px;
            height: 2px;
            border-radius: 1.5px;
            background-color: var(--beige-bg);
            opacity: .7;
        
        }

        .active-mbl-nav {
            height: 4px;
            opacity: 1;
        }

       
        .mbl-curved-corner {
            visibility: visible;
            width: clamp(8.5em, 23vw, 170px);
        }

        .nav__logo .mbl-logo-v {
            display: block;
            position: absolute;
        }
        
        .li.s-m-items{
            font-size: 1.7em;
        }

        .s-m-links.parent {
            margin: 0;
            left: 20px;

        }

        .hero-p p{
            font-size: 1.1em;
        } 

        #curved-corner {
            display: none;
        }

        .nav__logo {
            width: clamp(3.8rem, 9vw, 100px);
            top: 20px;
            left: 2.5%;

        }

        a.second-hlf-logo,
        .full-logo{
            display: none;
        }

        .hero-shapes {
            max-width: clamp(50px, 70vw, 400px);
        }

        .animated-text {
            margin: 0.5rem 0px 2rem 0.43em;
        }

        .animated-text span {
            font-size: clamp(23px, 6vw, 35px);
        }

        .ct__form-container {
            display: block;
        }

        .switch__key-div {
            right: 10px;
        }
      }
      


      @media screen and (max-width: 700px) {

        .portfolio__popup-inner {
            width: clamp(100px, 79vw, 450px);
        }

        .portfolio__popup-content {
            align-items: center;
            gap: 40px;
            grid-template-columns: none;
        }

        .portfolio__popup-img {
            width: clamp(10px, 90%, 500px);
        }

        .switch__key-div {
            right: 50px;
        }

        .contact-container {
            transform: translateY(195px);
        }

        .contact-container {
            column-gap: 10px;
        }
        
       

      }



      @media screen and (max-width: 636px) {

        main {
            padding: 0px 50px;
        }

        .about__container {
            align-self: baseline;
        }

        .arranger,
        .arranger-email {
           display: none;
        }

         #projects {
             justify-self: center;
         }

        
         .hero-p p{
             font-size: .9em;
         }

        .curved-corner{
            width: 15em;
        }

      }

      @media screen and (max-width: 587px) {

        section#about {
            min-height: 1000px;
            padding-top: 180px;
        }
        
        .h1-hero {
            display: block;
            width: clamp(260px, 85vw, 1000px);
            font-size: clamp(38px,13vw, 55px);
        }
        .h1-hero span {
            letter-spacing: -.33em;
        }

        .hover-disabled {
            width: clamp(0.5em,5vw,2em);
        }
        #hero-shapes {
            align-self: baseline;
            max-width: clamp(295px, 60vw, 450px);
        }

        .switch__key-div {
            right: 85px;
        }

        .contact-container {
            transform: translateY(190px);
        }

        .contact-section-bg-container {
            height: 95rem;
        }

        img.contact-section-bg {
            height: 110rem;
        }

        #contact {
            height: 100vh;
            align-items: center;
        }

      }
   

      @media screen and (max-width: 480px){
        main {
            padding: 0 40px;
        }
    
        .work__container {
            padding: 1rem;
        }

        .hero-p {
            width: clamp(222px, 70vw, 626px);
        }

        .hero-p p {
            font-size: .9em;
        }

        .cv div {
            padding: 1rem;
            width: clamp(133px, 3vw, 250px);
            font-size: clamp(5px, 14px, 25px);
        }

        .contact-container,
         .vending-mchn-container {
            justify-items: center;
            direction: ltr;
            position: relative;
            display: block;
        }

        .switch__key-div {
            border-radius: 40px;
        }
        
        .switch__key-container {
            display: flex;
            direction: rtl;
            margin-bottom: 30px;
        }


        img.contact-section-bg {
            height: 117rem;
        }
        

        /* .mbl-logo-v::before{
            content: '';
            height: 20em;
            width: 20em;
            background-color: #bbb;
            border-radius: 50%;
        } */

        .contact-container {
            transform: translateY(375px);
        }

      }

     

     


      @media screen and (max-width: 375px) {
        main {
            padding: 0 30px;
        }

          #projects {
              display: grid;
              justify-content: center;
          }
          
          .work__container {
            grid-template-columns: repeat(auto-fill, minmax(5em, 78vw));
            gap: 1em;
            padding: 0;
            padding-top: 1rem;
        }
          


        .fa-circle:before, .fa-circle:before, i.fa-circle.first::after, i.fa-circle.second::after {
            visibility: visible;
            position: absolute;
            right: 0;
            font-size: 13px;
        }
        
        li.s-m-items {
            /* padding: 30%; */
            padding: .3em 0;
            width: 100%;
            height: auto;
            font-size: 2rem;

        }

        
          .s-m-links.parent {
            margin:.3em .3em 0;
        }

        .s-m-links::after {
            transform: translateY(-30em);
            left: 1.3em;
        }

        

        .s-m-links.parent li a i {
            font-size: .85em;
        }

        .arranger {
            left: 10px;
        }
        
        .contact-container {
            transform: translateY(565px);
        }

        img.contact-section-bg {
            height: 131rem;
        }
        
        
        
       
      } 

 
      @media screen and (max-width: 320px) {

        main {
            padding: 0 15px;
        }

        #hero-shapes {
            align-self: baseline;
            max-width: clamp(240px, 51vw, 250px);
        }

        .animated-text span {
            font-size: clamp(20px, 5vw, 35px);
        }

        .contact-container {
            transform: translateY(690px);
        }

        img.contact-section-bg {
            height: 137rem;
        }

        
      }

      @media screen and (max-width: 275px) {

        .h1-hero {
            width: clamp(200px, 80vw, 200px);
        }

        .h1-hero span {
              line-height: 3rem;
        }

        .smallest-devices-br {
              display: block;
        }

        .hover-disabled {
              margin: 0;
        }

        .h1-hero img {
            margin: 0 0 0 .1em;
        }

        .contact-container {
            transform: translateY(850px);
        }

        img.contact-section-bg {
            height: 143rem;
        }

      }
      @media screen and (max-width: 250px) {
        .work__filters {
            flex-direction: column;
        }

        .work__container {
            grid-template-columns: repeat(auto-fill, minmax(7em, 90vw));
            gap: .5em;
        }
        
    }